.header{
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.header-title{
    padding: 25px 110px 20px 110px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: color 0.45s ease-out;
}

.header-title:hover{
    color: #c70039;
}


