.footer{
    background: none;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    padding: 50px 0px 50px 0;
}

.footer-title{
    background: none;
    color: white;
    font-size: 20px;
    text-align: center;
}