.footer{
    background: none;
    position: relative;
    width: 70%;
    height: 10vh;
    margin: 0 auto;
}

.footer-title{
    background: none;
    color: white;
    font-size: 20px;
    text-align: center;
}